{% extends 'layout/base.html' %}
{% load static %}

{% block content %}
    <div class="contacts">
        <div class="about__bg contacts__bg">
            <img src="{% static 'img/contacts/bg.jpg' %}" alt="" class="about__img contacts__img">
            <div class="about__title-info">
                <div class="about__title wow fadeInDown">Contact us</div>
                <div class="about__subtitle wow fadeInUp">write us</div>
            </div>
        </div>
        <div class="container">
            <div class="contacts__inner">
                <div class="contacts__item">
                    <div class="contacts__email">
                        <div class="contacts__email-title">Email</div>
                        <div class="contacts__email-content">info@example.com <br>
                            join@ex.com
                        </div>
                    </div>
                    <div class="contacts__phone">
                        <div class="contacts__email-title">Phone</div>
                        <div class="contacts__email-content">1(343)4343 <br> 3(242)24242</div>
                    </div>
                </div>

                <div class="about__header">
                    <div class="about__line"></div>
                    <div class="about__header-title">Follow Us</div>
                    <div class="about__line"></div>
                </div>

                <div class="contacts__social">
                    <a href="#" class="social__item">
                        <svg class="social__icon">
                            <use xlink:href="#vk"></use>
                        </svg>
                    </a>

                    <a href="#" class="social__item">
                        <svg class="social__icon">
                            <use xlink:href="#telegram"></use>
                        </svg>
                    </a>

                    <a href="#" class="social__item">
                        <svg class="social__icon">
                            <use xlink:href="#whatsApp"></use>
                        </svg>
                    </a>

                </div>

            </div>
        </div>
    </div>
{% endblock %}
