{% extends 'layout/cabinetbase.html' %}
{% load static %}


{% block cabinet %}
    <div class="cabinet__content">
        <div class="pers__allpost-header">
            <div class="pers__allpost-title">All posts</div>
            <div class="pers__allpost-subtitle">you attract what's inside you</div>
        </div>

        <div class="pers__allpost-inner">
            {% for post in posts %}
                <div class="allpost__item">
                    <a href="{% url 'single_post' post.pk %}" class="allpost__title">{{ post.title }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
